lib-cov
*.seed
*.log
*.dat
*.out
*.pid
*.gz
*.pyc

_*
notes.md
test*
dump*

config.py

polygons_550_to_0Ma
MySQLdb_Mavericks.md


.DS_Store
.AppleDouble
.LSOverride
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes